.title {
  display: flex;
  width: 100%;
  background-color: black;
  color: #B59410;
  align-content: center;
  justify-content: center;
}

.inputWrapper {
  display: flex;
  background-color: black;
  padding: 1rem 0 2rem;
  align-content: center;
  justify-content: center;

  input {
    margin: 0 auto;
    padding: 16px;
    font-size: 16px;
    width: 500px;
    min-width: 200px;
    color: #B59410;
  }

  input::placeholder {
    opacity: 1;
  }
}
