.title {
  display: flex;
  width: 100%;
  background-color: black;
  color: #FFD700;
  padding-top: 1rem;

  h1 {
    margin: 0 auto;
  }
}

.input_wrapper {
  display: flex;
  background-color: black;
  padding: 1rem 0 2rem;
  color: #FFD700;

  input {
    margin: 0 auto;
    background-color: transparent;
    border: 5px solid #FFD700;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    width: 500px;
    color: #FFD700;
  }
}
